/*Estilos generales HTML*/

@font-face {
  font-family: "Merriweath";
  src: url("../Fuentes/Merriweather-Regular.ttf");
}

@font-face {
  font-family: "Corinthia";
  src: url("../Fuentes/Corinthia-Bold.ttf"); /*Para os títulos bonitos*/
}

@font-face {
  font-family: "Rajdhani";
  src: url("../Fuentes/Rajdhani-Light.ttf"); /*Para las letras del formulario y también para las letras del NavBar*/
}

@font-face {
  font-family: "SourceSans";
  src: url("../Fuentes/SourceSans3-Italic-VariableFont_wght.ttf"); /*Para todo el contenido*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-image: url("../img/fondo.png");
}

nav#navbar {
  background-image: url("../img/fondo.png");
  width: 100%;
  position: sticky;
  display: flex;
  flex-direction: row;
  top: 0;
  z-index: 3;
}

a.enlaces {
  text-decoration: none;
  color: black;
  padding: 0 1vw;
  font-family: "Merriweath";
  font-size: 30px;
}

a.enlaces:hover {
  color: rgba(189, 3, 3, 0.719);
}

/*Header_contenedor*/
.contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ---- ----- ----- Inicio, ----- ----- ----- */
.especialidad_1 {
  font-size: 18px;
  width: 96%;
  height: 80vh;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
    url(../img/05.jpg);
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: end;
  margin: auto;
}

.especialidad_1 .contenedor {
  margin: 0 auto;
  margin-bottom: 6.25em;
}

.especialidad_1 .titulo {
  font-weight: 600;
  font-size: 3.12em;
  margin-bottom: 0.1em;
}

.especialidad_2 {
  font-size: 20px;
  width: 96%;
  height: 80vh;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
    url(../img/tacos.png);
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: end;
  margin: auto;
}

.especialidad_2 .contenedor {
  margin: 0 auto;
  margin-bottom: 6.25em;
}

#titulo {
  font-family: "Corinthia";
  font-size: 50px;
  color: rgba(189, 3, 3, 0.719);
  margin: auto;
}

div.contenedor_principal {
  display: flex;
  align-items: center;
}

div#contenedor_dual {
  width: 96%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 4% 0;
}

div#container_left {
  width: 34%;
  margin: auto;
}

div#container_right {
  width: 40%;
  margin-right: 4%;
  display: flex;
  align-items: center;
}

#tabla {
  padding: 4% 0;
  margin: auto;
  width: 80%;
}

/* Tablas */
table {
  margin: auto;
  padding: 4%;
}

#celdas {
  margin: 4px;
}

table tr td {
  padding: 10px;
}

th {
  background-color: rgb(243, 149, 62);
}

/* Carrusel */
.carrusel {
  width: 400px; /*Tamaño permitido para las imágenes*/
  height: auto;
  margin: auto;
}

#imagenes {
  width: 400px;
  height: 200px;
  display: flex;
  align-items: center;
}

#img-galeria {
  width: 100%;
  height: 30vh;
}

.vaicontenedor {
  width: 100%;
  height: 200px;
  animation: girar 60s infinite linear; /*Velocidad para girar 60*/
  transform-style: preserve-3d;
}

.vaicontenedor:hover {
  animation-play-state: paused; /*Se detiene al pasar el mouse en una imagen*/
  cursor: pointer;
}

.vaicontenedor figure {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 20px 0px black;
}

/*translateZ es para aumentar el radio*/
.vaicontenedor figure:nth-child(1) {
  transform: rotateY(60deg) translateZ(600px);
}
.vaicontenedor figure:nth-child(2) {
  transform: rotateY(120deg) translateZ(600px);
}
.vaicontenedor figure:nth-child(3) {
  transform: rotateY(180deg) translateZ(600px);
}
.vaicontenedor figure:nth-child(4) {
  transform: rotateY(240deg) translateZ(600px);
}
.vaicontenedor figure:nth-child(5) {
  transform: rotateY(300deg) translateZ(600px);
}
.vaicontenedor figure:nth-child(6) {
  transform: rotateY(360deg) translateZ(600px);
}

.vaicontenedor img {
  width: 100%;
  transition: all 300ms;
}

.vaicontenedor img:hover {
  -webkit-transform: scale(1.25);
}

@keyframes girar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/*FORMULARIO1-Reservación(fecha,hora,personas) */
/*Para darle estilos bonitos a la tablita-formulario de Reservación*/

/*FORMULARIO2-Contacto */
#Formulario {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 4%;
}

div.formulario1 {
  width: 45%;
  margin: auto;
  padding: 4%;
  border: solid 1px black;
  border-radius: 10%;
}

div#Form {
  padding: 4%;
}

form {
  /* Centrar el formulario en la página */
  margin: 0 auto;
  width: 400px;
  /* Esquema del formulario */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Tamaño y alineación uniforme */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  /* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra
     Por defecto, las áreas de texto tienen un tipo de letra monoespaciada */
  font: 1em sans-serif;

  /* Tamaño uniforme del campo de texto */
  width: 300px;
  box-sizing: border-box;

  /* Hacer coincidir los bordes del campo del formulario */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Destacado adicional para elementos que tienen el cursor */
  border-color: #000;
}

textarea {
  /* Alinear los campos de texto multilínea con sus etiquetas */
  vertical-align: top;

  /* Proporcionar espacio para escribir texto */
  height: 5em;
}

.button {
  /* Alinear los botones con los campos de texto */
  padding-left: 90px; /* mismo tamaño que los elementos de la etiqueta */
}

button {
  /* Este margen adicional representa aproximadamente el mismo espacio que el espacio
     entre las etiquetas y sus campos de texto */
  margin-left: 0.5em;
}

/* Footer */
footer {
  margin-top: 4rem;
  margin: 0 auto;
  background-color: #1b1e1f;
  border: 1px solid #333;
  color: #d1d4d1;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 0px 20px grey;
}

/* Select */
